body {
  line-height: 1.5;
    }
    

    @font-face {
      font-family: 'inter'; 
      src: url('../Fonts/inter/Inter-Regular.ttf')
    }
    
    a{
        text-decoration:none;
        color: white;
    
    }
    html{
      scroll-behavior: smooth;
    }
    
    /* Navbar */
    .navbar{
      background-color: #9C9D59;
    }
    .navbar-brand{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
      font-weight: 900;
      color: #fff;
    }
    
    .navbar, .nav-link{
      color:#fff;
      font-weight: 700;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }
    .nav-link:hover{
    color: #5A6954;
    }
    .navbar-form{
      color: white;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }
    .navbar-form:hover{
      color:#000000; 
    }
    .navbar-form .fa{
    font-size: 16px;
    }
    .navbar .btn{
      transition: background-color .4s ease-in-out, color .4s ease-in-out, border-color .4s;
      transition:all 4.s ease-in-out;
    }
    .navbar .btn{
      background-color: #5A6954;
      color: #fff;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
      font-weight: 800;
    }
    .navbar .btn:hover{
        color: #000000;
        background-color: white;
    }
     .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }
    /* End of NavBar */
    


    /* Contact */
    #contact h1{
      font-family: 'dreamorphans-b'; 
    }
    #contact p{
      font-family: 'inter';
      font-weight: 400;
    }
   .contact-badge{
    font-family: 'inter';
    font-weight: 900;
   }
   .contact-btn{
    background-color: #3cb371;
    color: #fff;
    font-size: 20px;
   }
   .contact-btn{
    transition: background-color .4s ease-in-out, color .4s ease-in-out, border-color .4s;
    transition:all 4.s ease-in-out;
  }
  .contact-btn:hover{
    color: #000000;
    background-color: white;
    border: 1px solid;
}




/* Back to top */
.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* Footer */
footer{
  background-color: #5A6954;
}
footer h1{
  font-weight: 900;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
  footer .container-fluid{
      padding-left: 50px;
      padding-right: 50px;
          }
      
        footer .navbar-form{
            color: white;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
          }
        footer .navbar-form:hover{
            color:#ffffff; 
          }
        footer .navbar-form .fa{
          font-size: 16px;
          }
      
      footer  a{
            text-decoration:none;
            color: #9C9D59;
        }
          .mr-2,
          .mx-2 {
            margin-right: 0.5rem !important;
          }
          
          .btn-lg, .btn-group-lg > .btn {
            padding: 0.5rem 1rem;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: 0.3rem;
          }
          footer h4{
              font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
          }