
@font-face {
  font-family: 'inter'; 
  src: url('../Fonts/inter/Inter-Regular.ttf')
}

a{
    text-decoration:none;
    color: white;

}
html{
  scroll-behavior: smooth;
}

/* Navbar */
.navbar{
  background-color: #9C9D59;
}
.navbar-brand{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-weight: 900;
  color: #fff;
}

.navbar, .nav-link{
  color:#fff;
  font-weight: 700;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.nav-link:hover{
color: #5A6954;
}
.navbar-form{
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.navbar-form:hover{
  color:#000000; 
}
.navbar-form .fa{
font-size: 16px;
}
.navbar .btn{
  transition: background-color .4s ease-in-out, color .4s ease-in-out, border-color .4s;
  transition:all 4.s ease-in-out;
}
.navbar .btn{
  background-color: #5A6954;
  color: #fff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-weight: 800;
}
.navbar .btn:hover{
    color: #000000;
    background-color: white;
}
 .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
/* End of NavBar */

/* Header */
header{
  background-color: #fff;
}

.title{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 

}
.title-2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 

}
header p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-weight:normal;
  font-size: large;
  color: grey;
}

header .btn{
  background-color: #5A6954;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-weight: 800;

  transition: background-color .4s ease-in-out, color .4s ease-in-out, border-color .4s;
  transition:all 4.s ease-in-out;
}
header .btn:hover{
  background-color: #ffffff;
  color: #000000;
}

/* Media Queries */
@media only screen and (max-width: 767px) {
  .title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-size: 50px;
  }
  .title-2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-size: 50px;
  }
}

/* End Header */

/* Why Us */
.why-us {
    padding: 0 0 30px 0;
    position: relative;
    z-index: 3;
  }
  
  .why-us .content {
    padding: 30px;
    background: #3cb371;
    border-radius: 4px;
    color: #fff;
  }
  
  .why-us .content h3 {
    font-family: 'dreamorphans-b'; 
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
  }

  .why-us h4{
    font-family: 'dreamorphans-b'; 
  }
  
  .why-us .content p {
    margin-bottom: 30px;
    font-family: 'inter';
  }
  
  .why-us .content .btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
    font-family: 'dreamorphans-b'; 
  }
  .why-us .btn{
    transition: background-color .4s ease-in-out, color .4s ease-in-out, border-color .4s;
    transition:all 4.s ease-in-out;
  }
  .why-us .content .btn:hover {
    color: #000000;
    background: #fff;
    
  }
  
  .why-us .icon-boxes .icon-box {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
  }
  
  .why-us .icon-boxes .icon-box i {
    font-size: 40px;
    color: #5A6954;
    margin-bottom: 30px;
  }
  
  .why-us .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 30px 0;
  }
  
  .why-us .icon-boxes .icon-box p {
    font-size: 15px;
    font-family: 'inter';
    color: #716f6f;
  }
  
  /* Services */
  .service-item {
    position: relative;
    text-align: center;
}

.service-item .service-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.service-item .service-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    transform: scale(1.2);
    transition: .3s;
    z-index: -1;
}

.service-item:hover .service-img img {
    transform: scale(1);
}

.service-item .service-text {
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .3s;
}

.service-item:hover .service-text {
    background: rgba(15, 66, 41, .6);
}

.service-item .service-text h4,
.service-item .service-text p {
    transition: .3;
}

.service-item:hover .service-text h4 {
    color: #FFFFFF;
}

.service-item:hover .service-text p {
    color: #FFFFFF;
}

.service-item .service-text .btn-square {
    width: 100px;
    height: 100px;
    background: transparent;
    transition: .5s;
}

.service-item:hover .service-text .btn-square {
    background: var(--light);
}

.service-item .service-text .btn {
    width: 31px;
    height: 31px;
    display: inline-flex;
    align-items: center;
    color: var(--dark);
    background: var(--light);
    white-space: nowrap;
    overflow: hidden;
    transition: .3s;
}

.service-item:hover .service-text .btn {
    width: 112px;
}

/* Back to top */
.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  background-color: #5A6954;
  color: #fff;
}
.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* Footer */
footer{
  background-color: #5A6954;
}
footer h1{
  font-weight: 900;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
  footer .container-fluid{
      padding-left: 50px;
      padding-right: 50px;
          }
      
        footer .navbar-form{
            color: white;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
          }
        footer .navbar-form:hover{
            color:#ffffff; 
          }
        footer .navbar-form .fa{
          font-size: 16px;
          }
      
      footer  a{
            text-decoration:none;
            color: #9C9D59;
        }
          .mr-2,
          .mx-2 {
            margin-right: 0.5rem !important;
          }
          
          .btn-lg, .btn-group-lg > .btn {
            padding: 0.5rem 1rem;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: 0.3rem;
          }
          footer h4{
              font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
          }